#paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  #paginationItems {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  button {
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  #currentPage, #totalPages {
    margin: 10px;
    font-size: 16px;
  }
}
